@import '../../../style/settings.scss';

.sub-menu {
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  padding: 20px 80px 80px 80px;
  background-color: transparent;
  z-index: 1000;
}

.sub-menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 875px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: white;
  overflow: hidden;
  z-index: 1010;
}

.sub-menu-image {
  width: 260px;
}

.sub-menu-image img {
  width: 100%;
  height: auto;
  max-height: 260px;
}

.sub-menu-items {
  flex: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  white-space: nowrap;
}

.sub-menu-item {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;

  &.button {
    cursor: pointer;

    &:hover{
      color: $color-1;
    }
  }

  &.selected {
    font-weight: 500;
    color: $color-1;
  }
}

.sub-menu-item:hover .sub-menu {
  opacity: 1; /* Devient visible quand survolé */
  visibility: visible;
}

.divider {
  border-left: 1px solid #F2F2F2;
  height: 260px;
}

.sub-menu-details {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 45px 0 10px;
}
@media (min-width: 1024px) and (max-width: 1310px) {
  .sub-menu{
    left: 200px !important;
  }

}