@import '../../../../style/settings.scss';

.formation_temoin_container{ 
    background: white;
    padding-top: 40px;
    padding-bottom: 25px;
    
    
.h3{display:block;
    color: var(--Gris-fonc, #333);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 20px;
    
    span{
        color: $color-principale;
        font-weight: 700;
    }
}

.formation_temoin_desktop{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 5%;


    .modal{
        border-radius: 21px;
        background: var(--Blanc, #ffffff);
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
        height: auto;
        position: relative;
        display: block;
        margin-bottom: 25px;
        padding: 10px;
    }



}

.formation_temoin{

    display: flex;
    width: 100%;

    .formation_temoin_left{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;

        .formation_temoin_modal_google{
            display: flex;
        flex-direction: column;
        align-items: center;
            width: 80%;
            height: auto;
            border-radius: 21px;
            background: var(--Blanc-pur, #FFF);
            box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
            padding: 15px;

            p{
                font-size: 19px;
                color: var(--Gris, #4F4F4F);
                font-weight: 600;
                font-family: "poppins-semibold";

                span{
                    font-size: 10px;
                }
            }
            .google_text{
                color: $color-principale;
                font-size: 12px;
                font-family: "poppins-bold";
            }
        }

        button{
            margin-top: 20px;
            border: none;
            border-radius: 100px;
            background: var(--Blanc-1, #F2F2F2);
             display: inline-flex;
             padding: 4px 16px 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--Gris, #4F4F4F);
        }
        
    }

    .formation_temoin_right{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;

        .formation_temoin_modal_article{
            display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
            background-position: center ;
            background-repeat: no-repeat;
            border-radius: 21px;
            width: 159px;
            height: 240px;
            border-radius: 21px;
            box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
            padding: 15px;
            transition: .2s ease-in-out;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
            &:hover{
              
                transform: scale(1.1);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
            }

            .formation_temoin_modal_mid{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                color: #ffff;

                .h3{display:block;
                    color: #FFF;
                    padding: 0;
                    margin-bottom: 0;
                    font-size: 18px;
                    width: 130px;
                    display: block;
                }
                .h4{display:block;
                    font-size: 12px;
                    display: block;

                }
    
            }

            button{
                margin-top: 20px;
                margin-bottom: -10px;
                border: none;
            border-radius: 100px;
            background: var(--Blanc-pur, #FFF);
            color: rgb(0, 0, 0);
            display: inline-flex;
            padding: 4px 16px 4px 16px;
            justify-content: center;
            align-items: center;
            transition: .2s ease-in-out;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
            &:hover{
              
                transform: scale(.92);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
            }
            }
          
            }

            .formation_temoin_right_button {
                width: 70%;
                display: flex;
                

            
            button{
                margin-top: 20px;
            border: none;
            border-radius: 100px;
            background: var(--Blanc-1, #F2F2F2);
             display: inline-flex;
             padding: 4px 16px 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--Gris, #4F4F4F);
            }
        }
    }

    .formation_temoin_hide{
        display: block;
    }
   
}
}

@media screen and (min-width: 1024px){
    .formation_temoin_container{
        padding: 30px 15% 60px 0px;
        padding-left: 15%;

        .h3{display:block;
            width: 400px;
            margin-bottom: 20px;
        }
        .formation_temoin_desktop{
            position: relative;
            width: 55%;
            top: 385px;
            left: -0px;
            margin-top: -350px;
            display: flex;
            flex-direction: row;
            

            .modal{
                border-radius: 21px;
                background: var(--Blanc, #ffffff);
                box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
                margin-right: 20px;
                height: auto;
                position: relative;
                display: block;

                .text-modal{
                    color: var(--Couleur-Principal, #7BC8CB);
                    font-family: 'poppins2';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-left: 50px ;
                }

                .modalText{
                    display: flex;
                    justify-content: center;
                    align-items: first flex-start;

                    img{
                        padding: 7px;
                    }
                    p{
                        padding: 8px;
                        width: 70%;
                        font-size: 14px;
                        font-family: 'poppins2';
                    }
                  
                }

                .temoin_modal_stars{
                    padding-left: 50px;
                }
            }

            
        }

        .formation_temoin{
            flex-direction: row-reverse;
            background-color: #F2F2F2;
            border-radius: 20px 0 0 20px;
            position: relative;
            left: 56.5%;
            width: 65%;
            padding: 30px 20px 20px 20px;
            height: 350px;
            box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);

            .formation_temoin_left{    
                width: 70%;

                .formation_temoin_modal_button{
                    button{
                        background-color: #ffff;
                        transition: .2s ease-in-out;
                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
                        &:hover{
                          
                            transform: scale(.92);
                            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
                        }
                    }
                }
            }

            .formation_temoin_right{
               width: 33%;

               .formation_temoin_right_button{
                button{
                    background-color: #ffff;
                    transition: .2s ease-in-out;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
                    &:hover{
                      
                        transform: scale(.92);
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
                    }
                }
               }
            }

            .formation_temoin_hide{
                display: block;
                width: 40%;
            }
        }
    }
}