.modalite{
    padding: 20px 10px 30px 10px ;

    .h3{display:block;
        color: #4f4f4f;
        margin-left: 10px;
        font-family: "poppins-bold";

        span{
            font-family: "poppins-bold";
        }
    }

    .modalite-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        

        .container-left{
            width: 180px;

            .modal-top{
                position: relative;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 159px;
                height: 189px;
                background-color: rgb(255, 255, 255);
                border-radius: 21px;
                margin: 5px;
                padding: 5px 15px 5px 15px;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
                background-position: center left 40%;
                background-size: cover;
                object-fit: cover;
                margin-bottom: 20px;
                transition: .2s ease-in-out;
                box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
                &:hover{
                  
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 2px 1px rgba(0, 0, 0, 0.23);
                }
                

                .modal-top-icon{
                    display: flex;
                    width: 49px;
                    height: 49px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 9px #00000040;
                    border-radius: 8px;
                    

                    img{
                        width: 39px;
                    }
                }

                .h4{display:block;
                    font-size: 15px;
                    font-family: "poppins-bold";
                }

                p{
                    font-size: 14px;
                    font-family: "poppins2";
                }
            }

            .modal-bottom{
                position: relative;
                display: flex;
                
                justify-content: space-around;
                flex-direction: column;
                width: 159px;
                height: 280px;
                background-color: rgb(255, 255, 255);
                border-radius: 21px;
                margin: 5px;
                padding: 5px 15px 5px 15px;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
                background-position: center left 40%;
                background-size: cover;
                object-fit: cover;
                transition: .2s ease-in-out;
                box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
                &:hover{
                  
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 2px 1px rgba(0, 0, 0, 0.23);
                }

                .modal-bottom-icon{
                    display: flex;
                    width: 49px;
                    height: 49px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 9px #00000040;
                    border-radius: 8px;
                    

                    img{
                        width: 39px;
                    }
                }
                .h4{display:block;
                    font-size: 15px;
                    font-family: "poppins-bold";
                }

                p{
                    font-size: 14px;
                    font-family: "poppins2";
                }

                button{
                    display: inline-flex;
                               
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                border-radius: 100px;
                                width: 100%;
                                border: none;
                                color: #2f2f2f;
                                font-size: 15px;
                                font-weight: 600;
                                padding: 4px 16px 4px 16px;
                                transition: .2s ease-in-out;
                                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
                                &:hover{
                                  
                                    transform: scale(.92);
                                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
                                }
                }
            }
        }

        .container-right{
            width: 180px;
            

            .modal-top{
                position: relative;
                display: flex;
                
                justify-content: space-around;
                flex-direction: column;
                width: 159px;
                height: 280px;
                background-color: rgb(255, 255, 255);
                border-radius: 21px;
                margin: 5px;
                padding: 5px 15px 5px 15px;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
                background-position: center left 40%;
                background-size: cover;
                object-fit: cover;
                margin-bottom: 20px;
                transition: .2s ease-in-out;
                box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
                &:hover{
                  
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 2px 1px rgba(0, 0, 0, 0.23);
                }

                .h4{display:block;
                    font-size: 15px;
                    font-family: "poppins-bold";
                }

                .modal-top-icon{
                    display: flex;
                    width: 49px;
                    height: 49px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 9px #00000040;
                    border-radius: 8px;
                    

                    img{
                        width: 39px;
                    }
                }
                
                ul{
                    padding-left: 20px;
                    font-size: 15px;
                    color: #4f4f4f;
                    li{
                        font-family: "poppins2";
                    }
                }
            }

            .modal-bottom{
                position: relative;
                display: flex;
                
                justify-content: space-around;
                flex-direction: column;
                width: 159px;
                height: 303px;
                background-color: rgb(255, 255, 255);
                border-radius: 21px;
                margin: 5px;
                padding: 5px 15px 5px 15px;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
                background-position: center left 40%;
                background-size: cover;
                object-fit: cover;
                transition: .2s ease-in-out;
                box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
                &:hover{
                  
                    transform: scale(1.1);
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19), 0 2px 1px rgba(0, 0, 0, 0.23);
                }

                .modal-bottom-icon{
                    display: flex;
                    width: 49px;
                    height: 49px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 9px #00000040;
                    border-radius: 8px;
                    

                    img{
                        width: 39px;
                    }
                }
                .h4{display:block;
                    font-size: 15px;
                    font-family: "poppins-bold";
                }

                p{
                    font-size: 14px;
                    font-family: "poppins2";
                }

                button{
                    display: inline-flex;
                               
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                border-radius: 100px;
                                width: 100%;
                                border: none;
                                color: #2f2f2f;
                                font-size: 15px;
                                font-weight: 600;
                                padding: 4px 16px 4px 16px;
                                transition: .2s ease-in-out;
                                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.22);
                                &:hover{
                                  
                                    transform: scale(.92);
                                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
                                }
                }
            }
        }
    }
}

@media (max-width: 350px) {

    .modalite-container{
        align-items: center;
    flex-direction: column;
    
    }
}

@media (min-width: 1024px) {
    .modalite{
        padding: 50px 10% 50px 0%;
        height: 350px;

        .h3{display:block;
            padding-left: 10%;
            font-family: "poppins-bold";

            span{
                font-family: "poppins-bold";
            }
        }

        .modalite-container{
            display: flex;
            flex-wrap:  nowrap;
            position: relative;

            .container-left{
                display: flex;
                justify-content: flex-end;
                width: 50%;

                .modal-bottom{
                    margin-right: 30px;
                }
                .modal-top{
                    margin-right: 30px;
                }
            }

            .container-right{
                display: flex;
                width: 50%;

                .modal-bottom{
                    margin-right: 30px;
                }
                .modal-top{
                    margin-right: 30px;
                    height: 295px;
                }
            }
        }
    }
}