@import '../../../../style/settings.scss';

.plateforme-container{
    background-color: white;
    padding: 30px 20px 60px 20px ;
    display: flex;
    flex-direction: column;

    .h2{
        color: var(--Gris, #4F4F4F);
        font-family: 'poppins2';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
        display: block;
        margin-bottom: -10px;
        
    }

    button{
        border: none;
        border-radius: 100px;
        color:white;
        display: inline-flex;
        padding: 4px 16px 4px 16px;
        margin: 5px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px;
        width: 140px;
    }

.slider-inscription {
    position: relative;
    width: 100%;
    height: 286px !important;
    cursor: grab;
    margin-top: 25px;

    .slider-inscription-outer { 
        
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
        
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .slider-inscription-inner {
            position: absolute;
            display: flex;
            justify-content: space-around;
            width: auto;
            height: 100%;
            margin-left: 10px;
            
            .items {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 159px;
                height: 259px;
                background-color: rgb(255, 255, 255);
                border-radius: 21px;
                margin: 5px;
                padding: 20px 15px 5px 15px;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
                background-position: center left 40%;
                background-size: cover;
                object-fit: cover;
              

                .topContainer{ 
                    width: 100%;
                    
                    height: 50%;

                    .icon{
                        .h2{
                            color: $color-text;
                            font-size: 17px;
                            font-weight: 600;
                            margin-top: -10px;
                            line-height: 26px;

                        }

                        .date{
                            font-size: 12px;
                            font-weight: 400;
                            margin-top: 10px;
                            color: $color-text;
                            font-family: 'poppins2';
                        }
                    }
            } 

           

            .bottomContainer{ 

                .buttons {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;

                    button{
                        display: inline-flex;
                        padding: 4px 16px 4px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: none;
                        color: white;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
         }
        }
    }

    .progress-bar-inscription-outer {
        position: absolute;
        top: 289px !important;
        left: 10px;
        width: 90%;
        height: 15px; // Ajustez la hauteur comme vous le souhaitez
        border-radius: 10px;
        background: #f4f4f4;
    
    
    .prog-bar-inscription-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%; // la largeur sera mise à jour dynamiquement
        height: 100%;
        border-radius: 100px;
       
    }
    
    }
}
}

@media screen and (min-width: 1024px) {
    .plateforme-container{
        display: none;
    }
}